<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">
      
<th:block layout:fragment="body" th:remove="tag">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body {
          font-family: "Lato", sans-serif;
        }
        
        /* Margin for styling according to nav */
        .main {
          margin-left: 200px; /* Same as the width of the sidenav */
        }
        
        </style>
        </head>
        
        <!-- Beginning of main body -->
        <div class="main">
          <h2>DNHS Science Olympiad Website</h2>
          <br>
          <h4>Registration for 2022-2023 season is OPEN!! Classes will be held both online and in person, depending on your coach's preference.</3>
          <br>
        </div>
</th:block>
</html>